<%- include("header.ejs") -%>
<div class="body">
    <h1 id="heading">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ipsa, fuga eaque architecto magnam iure aliquid odio expedita? Non hic eos at libero maxime nulla facilis ab? Error, ullam impedit! Voluptatem, placeat. Soluta vero, nulla vitae officia quis praesentium nesciunt.</p>
</div>
<%- include("footer.ejs") -%>
